
<!-- sidebar after body -->
<div style="" class="ui vertical inverted sidebar menu left" id="toc">
  <div class="item">
    <a class="ui logo huge icon image" href="/">
      <img src="/extensions/cwicon.png">
    </a>
      <a href="/extensions/index.html">
        <b> Ray's Extensions</b>
      </a>
  </div>
  <a class="item" href="/extensions/IE-Sucks/index.html">
    <i class="download icon"></i> <b>IE Sucks Bar</b><br><b>Chrome Extension</b>
  </a>

  <a class="item" href="https://chrome.google.com/webstore/detail/xframe-assassin-by-x-ray/nigpljchmlcjkhbglkdimgaplklombph">
    <i class="cubes icon"></i> <b>XFrame Assassin</b><br><b>Chrome Extension</b>
  </a>
  <a class="item" href="http://rayanthony.io/xframeassassin/assassintest.html">
    <i class="download icon"></i> <b>Assassin Test</b><br><b>(health check)</b>
 
 </a>
<a class="item" href="https://chrome.google.com/webstore/detail/pink-floyd-the-wall-total/nbgcfebpdidohabcceopligemfigkche">
  <i class="cubes icon"></i><b>Pink Floyd</b><br><b>Theme</b>
</a>
</div>
<!-- end sidebar begin wrap / area to push -->
  
