---
layout: default
---
<div class="masthead segment bg8">
  <div class="ui container">
    <div class="introduction center aligned grid">

  <h1 class="ui inverted header post-title">
 <span class="library transition visible">Hi </span>
 	      <span class="tagline"> {{ page.title }} </span>
        <b data-text="a post by ray">a post by ray</b><span class="typed-cursor">|</span> 
        <blink>|</blink>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
     <div class="ui hidden divider"></div>
        <a href="https://chrome.google.com/webstore/detail/ie-sucks/ejbiekjpeokjbhahjchhbgkpabjhbiec" class="ui huge basic inverted blue button"> Reads More  </a>
   </h1>
   
  <article class="post">
    {{ content }}
  </article>

</div>
</div>
</div>

      
            

<!--
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
-->
